
/* general */
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: sans-serif;
	height: 100vh;
	display: flex;
	--background-color: #191919;
	--text-color: white;
	--secondary-text-color: rgb(175, 175, 175);
	--secondary-color:  #2d2d2d;
	--list-width: 30rem;
	background-color: var(--background-color);
	color: var(--text-color);
}
#map {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.activeArea {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: calc(100vw - var(--list-width));
	pointer-events: none;
}
#mapOverlay {
	flex-basis: 100%;
	pointer-events: none;
	margin: 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
#mapOverlay > * {
	pointer-events: all;
}
.blurPanel {
	background-color: #0007;
	border-radius: 1rem;
	backdrop-filter: blur(2px);
}
button.blurPanel {
	border: none;
	color: var(--text-color);
	font-size: 1em;
	cursor: pointer;
}

/* time display */
#timeArea {
	font-size: 2em;
	padding: .1em .25em;
	white-space: nowrap;
}
#timezone {
	opacity: .75;
	font-size: .75em;
}

#bottomOptions {
	display: flex;
	gap: 1rem;
}

/* earthquake history */
#listArea {
	width: var(--list-width);
	flex-shrink: 0;
	z-index: 1;
	margin: 1.5em;
	padding: .5rem;
}
#quakeList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-radius: .75rem;
	display: flex;
	flex-direction: column;
	gap: .5em;
	height: 100%;
	overflow-y: scroll;
	scrollbar-width: none;
}
#quakeList::-webkit-scrollbar {
	display: none;
}
/* history quake */
#quakeList > li {
	padding: .5em;
	border-radius: .75rem;
	display: flex;
	gap: .5em;
	cursor: pointer;
	background-color: var(--background-color);
}
#quakeList > :first-child {
	font-size: 1.75em;
}
#quakeList > :first-child .quakeName {
	font-weight: bold;
}
.quakeMagnitudeBox {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3em;
	height: 3em;
	flex-shrink: 0;
	border: .2em solid var(--color);
	z-index: 1;
	border-radius: 5px;
}
.quakeMagnitudeBox::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color);
	opacity: .5;
	z-index: -1;
}
.quakeMagnitude {
	font-weight: bold;
	font-size: 1.75em;
	color: var(--text-color);
}
.quakeName {
	font-size: 1.2em;
	color: var(--text-color);
}
.quakeTime{
	color: var(--secondary-text-color);
	font-weight: lighter;
}
@keyframes flash {
	from {filter: brightness(5)}
	to {filter: brightness(1)}
}
.newQuake {
	animation: flash .75s;
}

/* magnitude legend */
#magnitudeLegend {
	width: 20em;
	padding: .25rem 1rem .5rem;
}
#magnitudeHolder {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 1.5rem;
}
#magnitudeGradient {
	height: 1rem;
	border-radius: .5rem;
}
#magnitudeLabel {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1.5rem;
}

/* settings */
#settingsPanel {
	background-color: rgba(0, 0, 0, 0.527);
	color: var(--text-color);
	border-radius: 10px;
	padding: 10px;
}
::backdrop {
	background-color: #000c;
	backdrop-filter: blur(10px);
}

#bottomOptions > button {
	height: 100%;
	aspect-ratio: 1;
	padding: .5rem;
}
#bottomOptions > button > img {
	height: 100%;
	aspect-ratio: 1;
}
