
/* general */
body {
	margin: 0;
	font-family: sans-serif;
	height: 100vh;
	display: flex;
	--background-color: #191919;
	--text-color: white;
	--secondary-text-color: rgb(175, 175, 175);
	--secondary-color:  #2d2d2d;
	background-color: var(--background-color);
	color: var(--text-color);
}
#mapHolder {
	position: relative;
	height: 100%;
	flex-basis: 100%;
}
#map {
	height: 100%;
	z-index: 0;
}

/* time display */
#timeArea {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.559);
	color: white;
	font-size: 2em;
	padding: .1em .25em;
	white-space: nowrap;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	backdrop-filter: blur(10px);
	
}
#timezone {
	opacity: .75;
	font-size: .75em;
}

/* earthquake history */
#listArea {
	width: 40em;
	flex-shrink: 0;
	overflow-y: scroll;
}
#quakeList {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
/* history quake */
#quakeList > li {
	padding: .5em;
	border-bottom: 1px solid var(--secondary-color);
	display: flex;
	gap: .5em;
	cursor: pointer;
	background-color: var(--background-color);
}
#quakeList > li:not(:last-child) {
	border-bottom: 1px solid var(--secondary-color);
}
#quakeList > :first-child {
	font-size: 2em;
}
#quakeList > :first-child .quakeName {
	font-weight: bold;
}
.quakeMagnitudeBox {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3em;
	height: 3em;
	flex-shrink: 0;
	border: .2em solid var(--color);
	z-index: 1;
	border-radius: 5px;
}
.quakeMagnitudeBox::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color);
	opacity: .5;
	z-index: -1;
}
.quakeMagnitude {
	font-weight: bold;
	font-size: 1.75em;
	color: var(--text-color);
}
.quakeName {
	font-size: 1.2em;
	color: var(--text-color);
}
.quakeTime{
	color: var(--secondary-text-color);
	font-weight: lighter;
}
@keyframes flash {
	from {filter: brightness(5)}
	to {filter: brightness(1)}
}
.newQuake {
	animation: flash .75s;
}

/* magnitude legend */
#magnitudeLegend {
	position: absolute;
	bottom: .5em;
	left: 1em;
	width: 20em;
	color: rgb(255, 255, 255);
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.559);
	backdrop-filter: blur(10px);
	border-radius: 15px;
}
#magnitudeHolder {
	display: flex;
	justify-content: space-between;
}
#magnitudeHolder > span {
	width: 0;
	display: flex;
	justify-content: center;
}
#magnitudeGradient {
	height: 1em;
}
